body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto 20%;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header{
    grid-area: header;
    background-color: blueviolet;
  
}

main{
    grid-area: main;
    background-color: coral;   
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "container1 container2";
}

.container:nth-of-type(1){
    grid-area: container1;
    background-color: green;
}

.container:nth-of-type(2){
    grid-area: container2;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% auto;
    grid-template-areas: 
        "row1"
        "row2";
}

.row:nth-of-type(1){
    grid-area: row1;
    background-color: darkorange;
}

.row:nth-of-type(2){
    grid-area: row2;
    background-color: pink;
}


footer{
    grid-area: footer;
    background-color: blue;
    
}


h1{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
